<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<h1>Templating Engines:</h1>
<img class = "center" src = "https://miro.medium.com/max/1588/1*LbqYj87xlazySm6wE0Q2lA.png" alt = "Templating Engines" width = "50%" >
<ol>
    <div class = "fondoHTML">
        <h3> <li> ¿Qué otros templating engines existen para node? </li></h3>
        <p> 
            Un <strong>templating engine</strong> nos permite utilizar archivos de plantilla estáticos en una aplicación.
            Al correr la aplicación, el motor de plantillas reemplaza las variables en un archivo de plantilla con valores reales y transforma la plantilla en un archivo HTML enviado al cliente. <br><br>
            <strong>Templating Engines: </strong>
            <ul>
               <li><strong>Pug: </strong> motor de plantillas inspirado en Haml</li> 
               <li><strong>Haml: </strong>alternate syntax for XML.</li>
               <li><strong>EJS: </strong>motor de plantilla JavaScript integrado</li>
               <li><strong>React: </strong>renderiza los componentes de React en el servidor. Presenta un marcado estático y no admite el montaje de esas vistas en el cliente.</li>
               <li><strong>Eta: </strong>motor de plantilla JS integrado, ligero y ultrarrápido. Admite delimitadores personalizados, asíncronos, control de espacios en blanco, parciales, almacenamiento en caché, complementos.</li>
            </ul> 
        </p>
    </div>
</ol>
<br>

<%- include('partials/menu.ejs') %>
<%- include('partials/footer.ejs') %>

