<div class = "menu">
    <h2>Menú</h2>
        <h3>Principal: </h3> 
        <ul>
            <li>
                <form>
                    <label> Da click para aprender de <strong>Templating Engines</strong></label>
                    <input type = "button" class = "button" onclick = "location.href='/'" value = "   /   " />
                </form>
            </li>
            
        </ul>
        
        <h3>Productos: </h3> 
        <ul>
            <li>
                <form>
                    <label> Da click para <strong>Consultar Productos</strong></label>
                    <input type = "button" class = "button" onclick = "location.href='/productos'" value = "/productos" />
                </form>
            </li>
            <li>
                <form>
                    <label> Da click para <strong>Registrar Producto</strong></label>
                    <input type = "button" class = "button" onclick = "location.href='/productos/agregar'" value = "/productos/agregar" />
                </form>
            </li>
        </ul>

        <h3>About: </h3> 
        <ul>
            <li>
                <form>
                    <label> Da click para aprender <strong>Sobre Mí</strong></label>
                    <input type = "button" class = "button" onclick = "location.href='/about/'" value = "/about/" />
                </form>
            </li>
            <li>
                <form>
                    <label> Da click para aprender <strong>Sobre HTML</strong></label>
                    <input type = "button" class = "button" onclick = "location.href='/about/html'" value = "/about/html" />
                </form>
            </li>
            <li>
                <form>
                    <label> Da click para aprender <strong>Sobre CSS</strong></label>
                    <input type = "button" class = "button" onclick = "location.href='/about/css'" value = "/about/css" />
                </form>
            </li>
            <li>
                <form>
                    <label> Da click para aprender <strong>Sobre JS</strong></label>
                    <input type = "button" class = "button" onclick = "location.href='/about/js'" value = "/about/js" />
                </form>
            </li>
        </ul>
    <br>
</div>
<br>
<footer>