<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<br>
<h1>Model-View-Controller:</h1>
<img class = "center" src = "https://miro.medium.com/max/1588/1*LbqYj87xlazySm6wE0Q2lA.png" alt = "Templating Engines" width = "50%" >
<ol>
    <div class = "fondoHTML">
        <h3> <li> ¿Qué beneficios encuentras en el estilo MVC? </li></h3>
        <p> 
            MVC es un patrón de diseño de arquitectura de software que ayuda a manejar aplicaciones con datos. <br>
            <strong>Beneficios</strong>
            <ul>
               <li>Separa los datos de la represantación visual</li> 
               <li>Es más sencillo añadir información y hacer cambios en el código.</li>
               <li>Es más sencillo agregar más representaciones con los datos.</li>
               <li>Hace que e funcionamiento de datos sea independiente de otras capas. </li>
               <li>Facilita el mantenimiento y la corrección de errores.</li>
               <li>Hace que la aplicación sea escalable.</li>
            </ul> 
        </p>
    </div>

    <div class = "fondoHTML">
        <h3> <li> ¿Encuentras alguna desventaja en el estilo arquitectónico MVC? </li></h3>
        <p> 
            <ul>
               <li>La separación de conceptos en capas hace más complejo el sistema.</li> 
               <li>La cantidad de archivos incrementa considerablemente.</li>
            </ul> 
        </p>
    </div>
</ol>
<br>

<%- include('partials/menu.ejs') %>
<%- include('partials/footer.ejs') %>

